//*{
//  outline: 1px solid red;
//}
html {
  font-size: 10px;
  @include breakpoint(md) {
    font-size: 8px;
  }
  @include breakpoint(sm) {
    font-size: 6px;
  }
  @include breakpoint(xs) {
    font-size: 4px;
  }
}

body {
  font-family: $primaryFont;
  font-size: 1.6rem;
}

a {
  color: inherit;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

nav.pgs-navbar {
  margin: 0;
  border-radius: 0;
  color: #cdcdcd;
  border: none;
  div.visible-md
  ul {
    padding: 25px 0;
    li {
      text-transform: uppercase;
      & > a {
        color: #cdcdcd;
      }
    }
  }
}

.bg-nav {
  background-color: #363d3d;
}

.hidden-menu {
  font-size: 3rem;
  div {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .resize-panel {
    width: calc(100% - 80px);
  }
  .pgs-bg {
    width: 80px;
    background-color: #000;
  }
}

.pgs-second {
  background-color: #0c9fb3;
  color: #eee;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  //padding: 120px 15px;
  @include breakpoint(sm) {
    //padding: 70px 15px;
  }
  .main {
    width: 620px;
    @include breakpoint(md) {
      width: 490px;
    }
    @include breakpoint(sm) {
      width: 245px;
    }
    h1 {
      font-size: 6rem;
      font-weight: 700;
      margin: 0;
    }
    p {
      color: #a9cadb;
      font-size: 2.5rem;
      margin-top: 30px;
    }
  }
}

.pgs-third {
  font-size: 2.8rem;
  @include breakpoint(xs) {
    font-size: 1.8rem;
  }
  .text-block {
    background-color: #242129;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #8d8396;
    width: calc(100% - 136px);
    @include breakpoint(sm) {
      padding-top: 30px;
      padding-bottom: 30px;
      width: calc(100% - 82px);
    }
    @include breakpoint(xs) {
      padding-top: 30px;
      padding-bottom: 30px;
      width: calc(100% - 72px);
    }
  }
  a {
    &:hover {
      .pgs-arrow {
        background-color: #e232aa;
      }
    }
    .pgs-arrow {
      width: 136px;
      background-color: #ba3282;
      padding: 50px 0;
      color: #eee;
      display: inline-block;
      @include breakpoint(sm) {
        width: 82px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      @include breakpoint(xs) {
        width: 72px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

.modal-content {
  background-color: #dadada;
  border-radius: 0;
}

.first-img-block {
  .arrow-img {
    background-color: #57109e;
    position: relative;
    @include breakpoint(sm) {
      font-size: 3rem;
    }
    span {
      position: absolute;
      color: #eee;
      font-size: 3rem;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.last-section {
  background-color: #ebebeb;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 400px;
  a {
    &:hover {
      color: #57109e;
    }
  }
  h2 {
    color: #29879e;
    font-weight: 700;
    a:hover {
      color: #2abad1;
    }
  }
  p {
    font-size: 1.6rem;
    margin-bottom: 25px;
    color: #575757;
    @include breakpoint(sm) {
      font-size: 3rem;
    }
    @include breakpoint(xs) {
      font-size: 3rem;
    }
  }
}

.nav-tabs {
  @include breakpoint(sm) {
    font-size: 3.5rem;
  }
}

.formSection {
  background-color: #dedede;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  label {
    @include breakpoint(sm) {
      font-size: 3.5rem;
    }
  }
  textarea {
    resize: none;
  }
}

label.error {
  @include error;
}

.slideFb {
  position: fixed;
  left: 0;
  margin-left: -340px;
  transition: all 0.9s ease;
  top: 10%;
  z-index: 99999;
  @include breakpoint(sm) {
    margin-left: -299px;
  }
  @include breakpoint(xs) {
    margin-left: -249px;
  }
  a.btn {
    position: absolute;
    top: 73px;
    right: -44px;
  }
}

.animateFb {
  margin-left: 0;
}

#cookiesEU-box {
  position: fixed !important;
  a {
    color: #0088cc;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cookieDisplay {
  float: right;
  padding: 11px 0;
  margin-right: 40px;
  @include breakpoint(md) {
    margin-right: 5px;
  }
  @include breakpoint(sm) {
    position: absolute;
    right: 80px;
  }
  span {
    color: #fff;
    font-size: 1.7rem;
    display: block;
    margin: 10px 0;
    box-sizing: border-box;
  }
}
.iTunesInfo {
  background-color: #f9f9f9;
  h1 {
    font-size: 5rem;
    font-weight: 700;
    padding: 5px 0;
    width: 50%;
    display: inline-block;
  }
  .infoDisplay {
    width: 60%;
    min-height: 200px;
    background-color: rgba(202, 255, 79, 0.24);
    margin: 10px auto;
    box-sizing: border-box;
    padding: 10px;
  }
  .searchBtn {
    display: block;
    margin: 0 auto;
  }
}