// Fonts
$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;
$colorFont: #484848;

// Colors
$primaryColor: #9f449b;
$secondaryColor: #eeeeee;
$figureColor: #938d8d;

// Media Device Breakpoints
$large-mobile         : 570px;
$tablet               : 768px;
$desktop              : 960px;
$large-desktop        : 1280px;
