// Fonts
$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;

// Colors
$primaryColor: #9f449b;
$secondaryColor: #eeeeee;
$figureColor: #938d8d;

// Media Device Breakpoints
$xs        : 320px;
$sm        : 640px;
$md        : 980px;
$lg        : 1024px;
